body{
    background-color: #b91450;
    color: white;
    text-align: center;
}


main>.container>div{
    background-color: white;
    color: #b91450;
    min-height: 200px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
}


.yyy{
    margin: 0 auto;
}


h1{
    font-size: 3rem;
}

input.nameUser, input.km, input.ageUser{
    text-align: center;
    border-color: #b91450;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.4rem;
}

h5{
    margin-bottom: 30px;
}

#cardB div, #cardB h4{
    color: black;
}



/* header{
    background-color: rgb(31, 31, 255);
    height: 200px;
    border-radius: 25px
}

header img{
    margin-top: 10px;
}
header h2{
    color: #6ed663;
    font-size: 2rem;
}

h1{
    text-align: center;
    color: rgb(0, 255, 8);
    font-size: 50px;
    font-weight: bold;
}
button{
    margin: 10px 0;
    border-radius: 25px;
    padding: 10px 20px;
}

#acquista{
    background-color: #6ed663;
}

#ripeti{
    background-color: rgb(233, 187, 21);
} */

