body{
    /* background-image: url(../img/shinkansen2.jpg);
    background-size: cover; */
    text-align: center;
}

/* header{
    background-color: rgb(31, 31, 255);
    height: 200px;
    border-radius: 25px
}

header img{
    margin-top: 10px;
}
header h2{
    color: #6ed663;
    font-size: 2rem;
}

h1{
    text-align: center;
    color: rgb(0, 255, 8);
    font-size: 50px;
    font-weight: bold;
}
button{
    margin: 10px 0;
    border-radius: 25px;
    padding: 10px 20px;
}

#acquista{
    background-color: #6ed663;
}

#ripeti{
    background-color: rgb(233, 187, 21);
} */

